.dropdown-wrapper {
  max-width: 300px;
  position: relative;
  background: #ccc;
  padding: 10px 15px;
  cursor: pointer;
  #id {
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    pointer-events: none;
    &:active {
      border-top: 5px solid #000;
    }
  }
  &.is-active {
    &:after {
      border-top: 8px solid rgba(0, 0, 0, 1);
      transform: rotate(180deg);
    }
  }
}
